<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue监测数据改变的原理（数组）</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <h2>老师姓名：{{name}}</h2>
    <h2>老师年龄：{{33}}</h2>
    <hr>
    <button @click="addSex">添加性别属性,默认值男</button>
    <h2>学生姓名：{{student.name}}</h2>
    <h2 v-if="student.sex">学生性别：{{student.sex}}</h2>
    <h2>学生年龄：真实{{student.age.rAge}}，对外{{student.age.sAge}}</h2>
    <h2>爱好：</h2>
    <ul>
        <li v-for="(h,index) in student.hobbies" :key="index">
            {{h}}
        </li>
    </ul>
    <hr>
    <h2>朋友们</h2>
    <ul>
        <li v-for="(f,index) in student.friends" :key="index">
            {{f.name}} - {{f.age}}
        </li>
    </ul>
</div>

<script type="text/javascript">
    //关闭开发环境提示
    Vue.config.productionTip = false

    //创建Vue实例
    const vm = new Vue({
        el: '#root',
        data: {
            name: '孙笑川',
            age: 33,
            student: {
                name: '刘波',
                sex: '',
                age: {
                    rAge: 30,
                    sAge: 18,
                },
                hobbies: ['跑步','游泳','打篮球'],
                friends: [
                    {name:'张三',age:18},
                    {name:'李四',age:19},
                    {name:'王五',age:10}
                ]
            }
        },
        methods: {
            addSex() {
                //Vue.set(this.student, 'sex', '男');
                this.$set(this.student, 'sex', '男');
            }
        }
    })
</script>
</body>
</html>