<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>姓名案例_计算属性实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    姓：<input type="text" v-model="firstName"> <br><br>
    名：<input type="text" v-model="lastName"> <br><br>
    姓名：<span>{{fullName}}</span>
<!--    计算属性多次读取时，有缓存-->
<!--    姓名：<span>{{fullName}}</span>-->
<!--    姓名：<span>{{fullName}}</span>-->
<!--    姓名：<span>{{fullName}}</span>-->
</div>

<script type="text/javascript">
    //关闭开发环境提示
    Vue.config.productionTip = false

    //创建Vue实例
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三',
        },
        computed: {
            fullName: {
                //当有人读取fullName时，get就会被调用
                //什么时候被调用？1.初次读取时，2.所依赖的数据发生改变
                get() {
                    console.log("get被调用了")
                    return this.firstName + this.lastName;
                },
                //当fullName被修改时，set被调用
                set(value) {
                    console.log('set--->', value);
                    const arr = value.split('-');
                    this.firstName = arr[0];
                    this.lastName = arr[1]
                }
            }
        }
    })
</script>
</body>
</html>